#body {
    background-color: hsla(blue, saturation, lightness, alpha)
}

.heading {
    color: yellowgreen;
    text-align: center;
}

.anchor {
    color: hsl(212, 100%, 55%);
    background-color: #000000;
}

.para {
    color: white;
    background-color: black;
    width: 200px;
    background-attachment: scroll;
    position: scroll;
    float: right;
    margin-top: -300px
}

.fpara {
    color: red;
    text-align: center;
    background-color: rgb(66, 66, 4);
    width: 200px;
}
